streamlit>=1.35.0
pandas
mysql-connector-python
plotly
streamlit-calendar>=0.5.0
openpyxl
xlsxwriter
xlwt
streamlit-drawable-canvas
fpdf
qrcode
opencv-python-headless
pyzbar
pillow
numpy
google-generativeai  <-- ¡NUEVO!
